#introduccion {
    margin-top: 100px;
    h2 {
        font-size: 30px;
        font-weight: 300;
        color: rgb(61, 61, 61);
        text-align: center;
    }

    .contenido {
        margin-top: 60px;
        p {
            line-height: 29px;
            color: rgb(24, 24, 24);
            text-align: center;
            font-size: 19px;
            font-weight: 400;
         
        }
    }
}